<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CassandraCSharpDriver" version="3.0.5" targetFramework="net452" />
  <package id="DseDriver" version="1.0.0-eap2" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.0.0-beta2" targetFramework="net452" />
  <package id="Grpc" version="0.13.1" targetFramework="net452" />
  <package id="Grpc.Core" version="0.13.1" targetFramework="net452" />
  <package id="grpc.dependencies.openssl.redist" version="1.0.2.2" targetFramework="net452" />
  <package id="grpc.dependencies.zlib.redist" version="1.2.8.9" targetFramework="net452" />
  <package id="grpc.native.csharp" version="0.13.1" targetFramework="net452" />
  <package id="Grpc.Tools" version="0.13.1" targetFramework="net452" />
  <package id="Ix-Async" version="1.2.5" targetFramework="net452" />
  <package id="lz4net" version="1.0.5.93" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net452" />
  <package id="System.Collections" version="4.0.0" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.0.0" targetFramework="net452" />
  <package id="System.Globalization" version="4.0.0" targetFramework="net452" />
  <package id="System.IO" version="4.0.0" targetFramework="net452" />
  <package id="System.Linq" version="4.0.0" targetFramework="net452" />
  <package id="System.Linq.Expressions" version="4.0.0" targetFramework="net452" />
  <package id="System.ObjectModel" version="4.0.0" targetFramework="net452" />
  <package id="System.Reflection" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime.Extensions" version="4.0.0" targetFramework="net452" />
  <package id="System.Text.Encoding" version="4.0.0" targetFramework="net452" />
  <package id="System.Text.RegularExpressions" version="4.0.0" targetFramework="net452" />
</packages>